<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PSO</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="CSS\inventoryHistory.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>


</head>

<body>
    <div class="page-wrapper chiller-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content leftPane">
                <div id="toggle-sidebar">

                </div>
                <div class="sidebar-brand">
                    <a href="/home" class="txt">Empress Filling Station</a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="../Assets/home1.png" alt="User picture">
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-dropdown">
                            <a href="/purchase">
                                <span class="txt">Purchases</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/dailySales">
                                <span class="txt">Daily Sales</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/creditSales">
                                <span class="txt">Credit Sales</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/expense">
                                <span class="txt">Expense</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/profit">
                                <span class="txt">Profit</span>
                            </a>

                        </li>
                        <li class="sidebar-dropdown">
                            <a href="/prices">
                                <span class="txt">Prices</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <main class="page-content justify-content-center">
            <div>
                <div class="form-group col-md-12">
                    <a class="back" href="/home"> <button style="margin-left: -30px;"
                            class="btn btn-success">back</button></a>
                    <span class="title">Daily Sales</span>
                </div>
            </div>

            <div class="container d-flex p-2 justify-content-center">
                <div>

                    <a href="/dailySalesHistory"><button class="View">View History</button></a>

                    <div class="row1">
                        <div class="row1" style="width: 1080px;">
                            <div class="input mt-2">
                                <label class="Sales" style="width: 20%;" for="">Date:</label>
                                <input type="date">
                            </div>

                            <div class="input mt-2">
                                <label class="Sales" style="width: 20%;" for="">Product:</label>
                                <button class=" dropdown-toggle but" type="button" style="width:185px;"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Select
                                </button>
                                <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" id="petrol" value="ClickMe" href="#">Petrol</a>
                                    <a class="dropdown-item" id="Disel" value="ClickMe" href="#">Disel</a>
                                    <a class="dropdown-item" id="Oil" value="ClickMe">Oil</a>
                                    <a class="dropdown-item" id="Services" value="ClickMe">Services</a>
                                </div>

                            </div>

                            <div style="display:none ;" id="petroldiv">
                                <br>
                                <div class="input">
                                    <label class="Sales" style="width: 20%;" for="">Nozzle:</label>
                                    <select style="width: 190px;">

                                        <option value="1">Select</option>
                                        <option id="petrol" value="2">Nozzle 1</option>
                                        <option value="3">Nozzle 1</option>
                                        <option value="3">Nozzle 2</option>
                                        <option value="3">Nozzle 3</option>
                                        <option value="3">Nozzle 4</option>
                                    </select>
                                    <div style="display: flex; margin-left: 210px;">
                                        <div>
                                            <button type="button" data-toggle="modal" data-target="#exampleModal"
                                                data-whatever="@mdo">Add</button>

                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Noozle:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Last
                                                                        Reading:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-success">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" data-toggle="modal" data-target="#exampleModal1"
                                                data-whatever="@mdo">Edit</button>

                                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label class="Sales" for="recipient-name"
                                                                        for="">Nozzle:</label>
                                                                    <select class="form-control">

                                                                        <option value="1">Select</option>
                                                                        <option id="petrol" value="2">Nozzle 1</option>
                                                                        <option value="3">Nozzle 1</option>
                                                                        <option value="3">Nozzle 2</option>
                                                                        <option value="3">Nozzle 3</option>
                                                                        <option value="3">Nozzle 4</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">New
                                                                        Name:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Last
                                                                        Reading:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger">Delete</button>
                                                            <button type="button" class="btn btn-success">Edit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Last Reading:</label>
                                    <input type="Input">
                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Current Reading:</label>
                                    <input type="Input">
                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Consumed:</label>
                                    <input type="Input">
                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Price/Ltr:</label>
                                    <input type="Input">
                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Price:</label>
                                    <input type="Input">
                                </div>
                            </div>
                            <div style="display:none ;" id="Diseldiv">
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Nozzle:</label>
                                    <select style="width: 190px;">
                                        <option value="1">Select</option>
                                        <option id="petrol" value="2">Nozzle 1</option>
                                        <option value="3">Nozzle 1</option>
                                        <option value="3">Nozzle 2</option>
                                        <option value="3">Nozzle 3</option>
                                        <option value="3">Nozzle 4</option>
                                    </select>
                                    <div style="display: flex; margin-left: 210px;">

                                        <div>
                                            <button type="button" data-toggle="modal" data-target="#exampleModal"
                                                data-whatever="@mdo">Add</button>

                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Noozle:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Last
                                                                        Reading:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">

                                                            <button type="button" class="btn btn-success">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div>
                                            <button type="button" data-toggle="modal" data-target="#exampleModal1"
                                                data-whatever="@mdo">Edit</button>

                                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group mt-2">
                                                                    <label class="Sales" for="recipient-name"
                                                                        for="">Nozzle:</label>
                                                                    <select class="form-control">
                                                                        <option value="1">Select</option>
                                                                        <option id="petrol" value="2">Nozzle 1</option>
                                                                        <option value="3">Nozzle 1</option>
                                                                        <option value="3">Nozzle 2</option>
                                                                        <option value="3">Nozzle 3</option>
                                                                        <option value="3">Nozzle 4</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">New
                                                                        Name:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Last
                                                                        Reading:</label>
                                                                    <input type="text" class="form-control"
                                                                        id="recipient-name">
                                                                </div>

                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger">Delete</button>
                                                            <button type="button" class="btn btn-success">Edit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Last Reading:</label>
                                    <input type="Input">

                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Current Reading:</label>
                                    <input type="Input">

                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Consumed:</label>
                                    <input type="Input">

                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Price/Ltr:</label>
                                    <input type="Input">

                                </div>
                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Price:</label>
                                    <input type="Input">
                                </div>
                            </div>
                            <div style="display:none ;" id="Oildiv">

                                <div class="input mt-2">
                                    <label class="Sales row1" style="width: 20%;" for="">Quantity:</label>
                                    <input type="Input">

                                </div>
                                <div class="input mt-2">
                                    <label class="Sales row1" style="width: 20%;" for="">Price/Quant:</label>
                                    <input type="Input">

                                </div>

                                <div class="input mt-2">
                                    <label class="Sales ro1" style="width: 20%;" for="">Price:</label>
                                    <input type="Input">
                                </div>
                            </div>
                            <div style="display:none ;" id="Servicesdiv">

                                <div class="input mt-2">
                                    <label class="Sales" style="width: 20%;" for="">Revenue Generated:</label>
                                    <input type="Input">

                                </div>
                            </div>
                            <button class="btn col-sm-5 btn-success btn-lg mt-3 ml-0 but">Save</button>

                        </div>



                    </div>

                </div>


        </main>
        <div style="display:flex; max-width:1080px ; margin: 0 auto; margin-left: 25%;">
            <table style="display: none;" id="petroltable" class="table mt-5">
                <thead class="thead tabl">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Produt</th>
                        <th scope="col">Last Reading</th>
                        <th scope="col">Current Reading</th>
                        <th scope="col">Consumed</th>
                        <th scope="col">Price/Ltr</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">7/4/2021</th>
                        <td>Petrol</td>
                        <td>200 ltr</td>
                        <td>200 ltr</td>
                        <td>48 ltr</td>
                        <td>65</td>
                        <td>65</td>
                    </tr>

                </tbody>
            </table>
            <table style="display: none;" id="Diseltable" class="table">
                <thead class="thead tabl">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Produt</th>
                        <th scope="col">Last Reading</th>
                        <th scope="col">Current Reading</th>
                        <th scope="col">Consumed</th>
                        <th scope="col">Price/Ltr</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">7/4/2021</th>
                        <td>Petrol</td>
                        <td>200 ltr</td>
                        <td>200 ltr</td>
                        <td>48 ltr</td>
                        <td>65</td>
                        <td>65</td>
                    </tr>
                </tbody>
            </table>
            <table style="display: none;" id="Oiltable" class="table">
                <thead class="thead tabl">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>

                        <th scope="col">Consumed</th>
                        <th scope="col">Price/Quant</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">7/4/2021</th>
                        <td>Petrol</td>

                        <td>48 ltr</td>
                        <td>65</td>
                        <td>1165</td>
                    </tr>

                </tbody>
            </table>

            <table style="display: none; " id="Servicestable" class="table">
                <thead class="thead tabl">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">7/4/2021</th>

                        <td>1165</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>


<script>
    $(document).ready(function () {
        $('#petrol').click(function () {
            $('#Diseldiv').hide();
            $('#Oildiv').hide();
            $('#Servicesdiv').hide();
            $('#Diseltable').hide();
            $('#Oiltable').hide();
            $('#Servicestable').hide();
            $('#petroldiv').show();
            $('#petroltable').show();
            return false;
        })

        $('#Disel').click(function () {
            $('#petroldiv').hide();
            $('#Oildiv').hide();
            $('#Servicesdiv').hide();
            $('#petroltable').hide();
            $('#Oiltable').hide();
            $('#Servicestable').hide();
            $('#Diseldiv').show();
            $('#Diseltable').show();

            return false;
        })

        $('#Oil').click(function () {
            $('#petroldiv').hide();
            $('#Diseldiv').hide();
            $('#Servicesdiv').hide();
            $('#petroltable').hide();
            $('#Diseltable').hide();
            $('#Servicestable').hide();
            $('#Oildiv').show();
            $('#Oiltable').show();

            return false;
        })

        $('#Services').click(function () {
            $('#petroldiv').hide();
            $('#Diseldiv').hide();

            $('#petroltable').hide();
            $('#Diseltable').hide();

            $('#Oildiv').hide();
            $('#Oiltable').hide();
            $('#Servicesdiv').show();
            $('#Servicestable').show();

            return false;
        })



        $('#Services').click(function () {
            $('#petroldiv').hide();
            $('#Diseldiv').hide();
            $('#Oildiv').hide();
            $('#petroltable').hide();
            $('#Diseltable').hide();
            $('#Oiltable').hide();
            $('#Servicesdiv').show();
            $('#Servicestable').Show();

            return false;
        })

    })
</script>

</html>