.Sales {
  width: 30%;
}
.input {
  width: 100%;
  align-items: center;
  display: flex;
}
.row1 {
  width: 500px;
}
.save {
  margin-left: 500px;
}
.back {
  text-decoration: none;
  color: white;
}
